@model ReserveProject.Client.Models.ReservationsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Reservations</h1>
        <p class="lead">Down below you can see all reservations in the system.</p>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Phone</th>
                <th scope="col">Status</th>
                <th scope="col">Seat Type</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Party Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations.Reservations)
            {
                <tr>
                    <th>@reservation.ReservationId</th>
                    <th>@reservation.CustomerName</th>
                    <td>@reservation.CustomerPhoneNumber</td>
                    <td>@reservation.Status</td>
                    <td>@reservation.SeatType</td>
                    <td>@reservation.DateAndTime</td>
                    <td>@reservation.PartySizeChildren</td>
                    <td>@reservation.PartySizeAdults</td>
                </tr>
            }
        </tbody>
    </table>
</div>
